@model CURD_Test.Net.Models.ProductModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Product name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brand" class="control-label">Brand</label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discription" class="control-label">Discription</label>
                <input asp-for="discription" class="form-control" />
                <span asp-validation-for="discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">price(US)</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="countOfProduct" class="control-label">Number of products</label>
                <input asp-for="countOfProduct" class="form-control" />
                <span asp-validation-for="countOfProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

